body {
  font-family: "Merriweather", serif;
  max-width: 100%;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/017/602/original/pexels-regulus-photography-9597343_%281%29.jpg?1632434535");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  color: black;

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  opacity: 5;
  box-shadow: -9px -10px 17px rgba(239, 233, 232, 0.3);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
